.page {
    &_about {
    }
    &__about {
        @include adaptiveValue("padding-bottom", 100, 48);
        padding-top: rem(48);
    }
}
.about {
    &__container {
    }
    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 32);
        }
    }

    &__team {
        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    &__description {
    }
}
.team-about {
    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
        @media (max-width: $tablet) {
            align-items: flex-start;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: rem(58);
            }
        }
        &_reverse {
            flex-direction: row-reverse;
            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }
    }

    &__image {
        flex: 0 1 percent(576, 1176);
        display: block;
        border-radius: 10px;
        overflow: hidden;
        min-width: rem(290);
        object-fit: cover;
        @media (max-width: $tablet) {
            flex: none;
            width: 100%;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $mainColorBlack;
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(16);
        line-height: math.div(23, 16);
        flex: 0 1 rem(576);
        @media (max-width: $tablet) {
            flex: 0 1 auto;
        }
    }

    &__name {
        font-family: "albertusnova";
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(28, 20);
    }

    &__post {
        &:not(:last-child) {
            margin-bottom: em(8, 16);
        }
    }

    &__text {
        max-height: rem(250);
        overflow-y: auto;
        &:not(:last-child) {
            margin-bottom: em(12, 16);
        }
        &::-webkit-scrollbar {
            width: rem(10);
        }
        &::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: $mainColorGray;
            border-radius: 10px;
        }
    }

    &__social-list {
        display: flex;
        align-items: center;
        font-size: rem(24);
        gap: em(18, 24);
    }

    &__social-link {
    }
}

.description-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(32);
    position: relative;
    padding-left: rem(32);
    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 32);
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);
        color: $mainColorBlack;
        font-weight: 400;
        max-width: rem(576);
        width: 100%;

        &_height_more {
            flex: 0 1 rem(324);
        }
    }

    &__heading {
        font-family: "albertusnova";
        font-size: rem(20);
        line-height: math.div(28, 20);
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
        }
    }

    &__text {
        font-family: "OpenSans";
        font-size: rem(16);
        line-height: math.div(23, 16);

        @media (max-width: $mobileSmall) {
            font-size: rem(12);
        }
        &:not(:last-child) {
            margin-bottom: em(16, 16);
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        display: block;
        // min-width: rem(290);
    }
    &__image {
        display: block;
        max-width: rem(376);
        // min-width: rem(290);
        width: 100%;
    }
    &__timeline {
    }
}

.timeline-desctiption {
    position: absolute;
    top: rem(63);
    left: 0;
    width: 2px;
    // height: rem();
    background-color: #e0e0e0;
    height: calc(100% - (100% - 3450px));
    @media (max-width: $mobileSmall) {
        top: rem(92);
    }
    &__wrapper {
        position: relative;
        height: 100%;
    }
    &__item {
        position: absolute;
        left: -5px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: rem(65);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: flex-start;
        }
        &_first {
            top: 0;
        }
        &_second {
            top: percent(185, 3450);
        }
        &_third {
            top: percent(600, 3450);
        }
        &_fourth {
            top: percent(924, 3450);
        }
        &_fifth {
            top: percent(2799, 3450);
        }
    }
    &__date {
        font-family: "OpenSans";
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(23, 20);
        color: $mainColorGray;
        // transform: translateX(-4px);
        flex: 0 1 auto;
    }
    &__circle {
        flex: 0 0 rem(12);
        height: rem(12);
        outline: rem(3) solid #fafafa;
        background-color: $mainColorRed;
        border-radius: 50%;
        @media (max-width: $mobileSmall) {
            // flex: none;
            width: rem(12);
        }
    }
}
