// Заголовки, общие БЄМ блоки и проче...
.background-block {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
    .lock & {
        display: block;
    }
}

.button-get-all {
    font-family: "albertusnova";
    font-weight: 400;
    font-size: rem(16);
    line-height: math.div(22, 16);
    color: $mainColorBlack;
    position: relative;
    display: block;
    @media (any-hover: hover) {
        &:hover {
            &::before {
                width: 0%;
            }
        }
    }
    &::before {
        transition: width 0.4s ease 0s;
        position: absolute;
        bottom: -2.5px;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: rem(1.5);
        background-color: $mainColorBlack;
    }
}

// news

.articles {
    &_bg-color-gray {
        background-color: $bgColorGray;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 30);
        }
        &_h2 {
            text-align: left;
            font-size: rem(20);
            line-height: math.div(28, 20);
            &:not(:last-child) {
                margin-bottom: em(24, 20);
            }
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: rem(24);
        flex-wrap: wrap;
        column-gap: rem(24);
        row-gap: rem(32);
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
        @media (max-width: em(600)) {
            justify-content: center;
        }
    }

    &__item {
        flex: 0 1 rem(276);
        min-height: 100%;
    }

    &__card {
        // min-height: rem(355);
        height: 100%;
    }
    &__pagination {
        width: rem(314);
        margin: 0 auto;
    }
}
.card-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image-ibg {
        padding-bottom: percent(186, 276);
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__body {
        width: 100%;
        flex: 0 1 100%;
    }

    &__heading {
        font-family: "albertusnova";
        font-weight: 300;
        font-size: rem(18);
        line-height: math.div(25, 18);
        color: $mainColorBlack;
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
    }

    &__text {
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(21, 14);
        color: #2d2d2d;
        margin-bottom: rem(8);
        max-height: rem(320);
        overflow-y: auto;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(8);
        width: 100%;
    }

    &__date {
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(12);
        line-height: math.div(21, 12);
        color: $mainColorBlack;
    }

    &__button {
        font-family: "albertusnova";
        font-weight: 300;
        font-size: rem(12);
        line-height: math.div(17, 12);
        color: $mainColorBlack;
        padding: em(7, 12) em(17.5, 12);
        border: 1px solid $mainColorBlack;
        border-radius: 5px;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, border-color 0.4s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $mainColorRed;
                color: #fff;
                border-color: $mainColorRed;
            }
        }
    }
}

.pagination-articles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(5);
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 percent(210, 314);
        gap: rem(5);
    }

    &__number {
        color: $mainColorBlack;
        &.current {
            color: $mainColorGray;
        }
    }
    &__number-btn {
        font-family: "NotoSans";
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(21, 14);
        &_more {
            color: $mainColorGray;
        }
    }

    &__button {
        &_prev {
            color: $mainColorGray;
            &::before {
                transform: rotate(180deg);
            }
        }
        &_next {
        }
    }
}

// gallery

.gallery {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 32);
        }
        &_mb_less {
            &:not(:last-child) {
                margin-bottom: em(28, 32);
            }
        }
    }

    &__list {
        &_margin_bottom_28 {
            &:not(:last-child) {
                margin-bottom: rem(28);
            }
        }
    }
}
.gallery-list {
    display: grid;
    grid-template: auto / repeat(3, minmax(rem(180), rem(376)));
    @media (max-width: $mobile) {
        grid-template-columns: repeat(2, 1fr);
    }
    gap: rem(24);

    &__item {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        @media (any-hover: hover) {
            &:hover {
                .gallery-list__image-date {
                    color: rgba($color: #fff, $alpha: 1);
                }
            }
        }
        @media (any-hover: none) {
            .gallery-list__image-date {
                color: rgba($color: #fff, $alpha: 1);
            }
        }
        &.zoom-in {
            &::before {
                transition: background-color 0.4s ease 0s;
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0);
                z-index: 2;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: rem(50);
            }
            @media (any-hover: hover) {
                &:hover {
                    &::before {
                        content: "+";
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                }
            }
            @media (any-hover: none) {
                &::before {
                    content: "+";
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }
        &_span_2 {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
        @media (max-width: $mobileSmall) {
            grid-column: 1 / 3;
        }
    }
    &__link {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: background-color 0.4s ease 0s;
        background-color: rgba(0, 0, 0, 0);
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    &__image {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    &__image-date {
        transition: color 0.4s ease 0s;
        position: absolute;
        top: calc(100% - 38px);
        left: 0;
        width: 100%;
        color: rgba($color: #fff, $alpha: 0);
        text-align: center;
        font-size: rem(16);
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
        &.gallery-list__image-date_visible {
            color: rgba($color: #fff, $alpha: 1);
        }
    }
}

.image-counter-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: "OpenSans";
    position: absolute;
    top: percent(16, 450);
    right: percent(16, 776);
    &__number {
        font-weight: 600;
        font-size: rem(20);
        line-height: math.div(27, 20);
    }
    &__text {
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(21, 14);
    }
}

// ====

.card-stuff {
    border: 1px solid rgba($color: $mainColorGray, $alpha: 0.5);
    border-radius: 10px;
    padding: rem(12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: rem(400);
    row-gap: rem(15);

    &__body {
        position: relative;
    }

    &__image-ib {
        // todo fd change class-name
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: rem(8);
        color: $mainColorBlack;
        min-height: rem(68);
    }

    &__heading {
        font-family: "albertusnovathin";
        font-weight: 200;
        font-size: rem(14);
        line-height: math.div(19, 14);
        max-height: rem(120);
        overflow-y: auto;
    }
    &__price-box {
        display: flex;
        align-items: flex-end;
        gap: rem(10);
    }
    &__price-value {
        font-family: "albertusnova";
        font-weight: 400;
        font-size: rem(16);
    }
    &__price-discount {
        font-family: "albertusnovalight";
        font-size: rem(14);
        color: $mainColorGray;
    }
    &__button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // display: none;
    }

    &__badge {
        font-family: "CirceSlabC";
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(15, 14);
        color: #ffffff;
        padding: em(7, 14) em(11, 14);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: em(5, 14);
        text-transform: uppercase;
        &_status_new {
            background-color: #59ad02;
        }
        &_status_sale {
            background-color: #ff1e00;
        }
    }
}

//

.btn-cart {
    position: relative;
    &__counter {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: rem(14);
        height: rem(14);
        border-radius: 50%;
        background-color: $mainColorRed;
        border: 1px solid #e0e0e0;
    }
    &__number {
        font-family: "NotoSans";
        font-weight: 500;
        font-size: rem(12);
        line-height: math.div(16, 12);
        color: #ffffff;
    }
}

//

.general-first-screen {
    &__container {
        padding: 0;
        margin: 0;
        max-width: none;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__image {
        display: block;
        object-fit: cover;
        // height: auto;
        width: 100%;
        max-height: rem(500);
        min-height: rem(375);
    }
}

//

.video-box {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    // padding-bottom: 100%;
    height: 100%;
    width: 100%;
    &__item {
        width: 100%;
        display: block;
        object-fit: cover;
        // position: absolute;
        // top: 0;
        // left: 0;
    }
    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(59);
        height: rem(42);
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 14px;
        &::before {
            color: #fff;
            font-size: rem(32);
        }
        &.disable {
            display: none;
        }
        // display: none;
    }
}

//

.releases {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 30);
        }
    }
    &__heading {
        font-family: "albertusnova";
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(28, 20);
        color: $mainColorBlack;
        width: 100%;
        text-align: left;
        &:not(:last-child) {
            margin-bottom: em(24, 20);
        }
    }

    &__inner {
        width: 100%;
        position: relative;
        &:not(:last-child) {
            margin-bottom: rem(28);
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: rem(24);
        @media (max-width: em(769)) {
            flex-wrap: nowrap;
            row-gap: 0;
        }
    }

    &__item {
        flex: 0 0 rem(176);
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: em(769)) {
            flex: none;
        }
    }

    &__image {
        width: 100%;
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "albertusnova";
        @include adaptiveValue("font-size", 20, 14);
        line-height: math.div(28, 20);
        color: #fff;
        opacity: 0;
        transition: background-color 0.4s ease 0s, opacity 0.4s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
        @media (any-hover: none) {
            bottom: 0;
            top: initial;
            height: 60%;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}

.video {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    &__source {
        max-width: 100%;
        width: 100%;
        min-width: rem(290);
        height: auto;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(32);
        width: rem(64);
        height: rem(64);
        border-radius: 50%;
        background-color: #e8e8e88e;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            transform: translateX(5px);
        }
    }

    &__controls {
    }
    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}
.controls-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #8f8e8e43;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    &__buttons {
        font-size: rem(32);
        color: #fff;
    }

    &__button {
        transition: opacity 0.4s ease 0s;
        &[disabled="true"] {
            opacity: 0.3;
        }
    }

    &__time {
        font-size: rem(16);
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
