.page {
    &__music-inner-section-2 {
        @include adaptiveValue("padding-bottom", 100, 50);
        padding-top: rem(50);
    }
}
.music-inner-section-2 {
    &__title {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(8, 30);
        }
    }

    &__link {
    }

    &__body {
    }

    &__about {
        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    &__list {
    }
}

.about-music-inner {
    &__heading {
        @include h1;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(32, 30);
        }
    }
    &__text-box {
        display: flex;
        align-items: flex-start;
        gap: em(24, 16);
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(16);
        line-height: math.div(23, 16);
        color: $mainColorBlack;
    }
    &__text {
        flex: 0 1 50%;
    }
}

.albums-music-inner {
    &__heading {
        font-family: "albertusnova";
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(28, 20);
        color: $mainColorBlack;
        &:not(:last-child) {
            margin-bottom: em(24, 20);
        }
    }
    &__list {
    }
}
.list-music-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(24);
    flex-wrap: wrap;
    &__item {
    }

    &__album {
    }

    &__album-image {
    }
}

.page {
    &__music-inner-section-2 {
    }
}
.music-inner-section-2 {
    &__container {
    }

    &__title {
    }

    &__content {
        &:not(:last-child) {
            margin-bottom: rem(52);
        }
    }
    &__music-links {
        width: rem(80);
        margin: 0 auto;
    }
}

.content-music-inner {
    &__control {
        max-width: rem(776);
        width: 100%;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    &__general {
    }
}
.control-content-music {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    font-family: "OpenSans";
    font-weight: 400;
    font-size: rem(16);
    line-height: math.div(23, 16);
    color: #2d2d2d;
    &__group {
    }
    &__song {
        font-weight: 600;
        &:not(:last-child) {
            margin-bottom: em(32, 16);
        }
    }
    &__buttons {
        font-size: rem(24);
    }

    &__btn-prev {
    }

    &__btn-stop {
    }

    &__btn-next {
    }
}
.general-content-music {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__list {
        flex: 0 1 percent(576, 1176);
    }

    &__image-ibg {
        flex: 0 1 rem(476);
        padding-bottom: percent(476, 1176);
    }
}

.list-music {
    &__item {
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(16);
        line-height: math.div(23, 16);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12);
        border: 1px solid #e0e0e0;
        border-radius: rem(15);
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }
    &__item-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 rem(354);
    }
    &__name {
        color: #2d2d2d;
    }
    &__time {
        color: #989898;
    }
    &__action {
        font-size: rem(24);
    }
    &__links {
        flex: 0 0 rem(54);
    }
}

.music-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        font-size: rem(32);
        &_font-size_less {
            font-size: rem(24);
        }
    }
    &__link {
    }
}
