.page {
    &_order-contacts {
    }

    &__order-contacts {
        background-color: #e1e7e4;
    }
}
.order-contacts {
    &__body {
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: rem(976);
    }

    &__stages {
        flex: 0 1 percent(576, 976);
        display: flex;
        flex-direction: column;
        row-gap: rem(24);
    }
}

.order-contacts-spollers {
    &__body {
    }
    &__item {
        background: #ffffff;
        border-radius: 10px;
        padding: rem(16) rem(24);
    }
    &__title {
        font-family: "albertusnovalight";
        font-weight: 300;
        font-size: rem(18);
        line-height: math.div(25, 18);
        padding-bottom: em(12, 18);
        margin-bottom: em(16, 18);
    }
}

.order-contacts-stages-info {
}

.order-contacts-stages-delivery {
    &__body {
    }
    &__box {
    }
}
.order-contacts-stages {
    &__step-1 {
    }
    &__step-2 {
    }
    &__step-3 {
    }
}

.order-contacts-stages-step-1 {
    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: rem(24);
        height: rem(60);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    &__input-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 0 1 50%;
        height: 100%;
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(12);
        line-height: math.div(16, 12);
    }
    &__input {
        width: 100%;
        height: rem(40);
        border: 1px solid #989898;
        border-radius: 5px;
        padding: 0 rem(8);
        font-family: "OpenSans";
        font-weight: 400;
        font-size: rem(14);
        line-height: math.div(21, 14);
        color: #989898;
    }
    &__button {
    }
}

.order-contacts-stages-step-2 {
    &__delivery {
    }
    &__box {
        display: none;
        align-items: center;
        justify-content: space-between;
        // width: 100%;
        margin: rem(16) 0;
        gap: rem(24);
        > .select {
            flex: 0 1 50%;
        }
    }
}

.form-button-next {
    border-radius: 5px;
    width: 50%;
    background-color: $mainColorRed;
    font-family: "albertusnova";
    font-weight: 400;
    font-size: rem(16);
    line-height: math.div(22, 16);
    color: #ffffff;
    padding: em(10.5, 16) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
    &_center {
        margin: 0 auto;
    }
    &:disabled {
        background-color: #e0e0e0;
    }
}
